# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.JiwonJung.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\jjwon\Desktop\DES315_p1_2021\prototyping1\Assets\Scripts\StudentScripts\JiwonJung\.idea\.idea.JiwonJung.dir\.idea/dataSources/
/dataSources.local.xml
