# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.AkshatMadan.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\jjwon\Desktop\DES315_p1_2021\prototyping1\Assets\Scripts\StudentScripts\AkshatMadan\.idea\.idea.AkshatMadan.dir\.idea/dataSources/
/dataSources.local.xml
